*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: Arial, Helvetica, sans-serif;
    background: beige;
  }
  nav{
    background: #0082e6;
    height: 70px;
    width: 100%;
  }
  label.logo{
    color: white;
    font-size: 25px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
    
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
  }
  a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
  }
 
    nav ul li a{
      font-size: 16px;
    }
  
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }

    ul{
      position: sticky;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
  }

  h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
} 

a{
    text-decoration: none;
}

.room{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
} 

 .item{
    width: 35%;
    margin: 30px;
    box-sizing: border-box;
    float:left;
    text-align:center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    transition: .4s;
    background: white; 
    height: 440px;


} 


  .item:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, 8px);
 }


 img{
    width: 350px;
    height: 250px;
    text-align: center;
    margin: 0 auto;
    display: block;
 }

 .item p{
    text-align: center;
    color: black;
    padding-top: 100px;

 } 

h2{   
  font-size: medium;
}

h3{
    font-size: medium;
}

 .item:button{
    text-align: center;
    font-size: 24px;
    color: whitesmoke;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
 }


 .rent{
    display: flex;
    margin-top: 4px;
    margin-left: 190px;
    font-size: 18px;
    padding: 6px 20px;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    background: purple;
}

.rent:hover{
    background: rgb(94, 28, 90);
}
 @media(max-width:1000px){
    .content{
        width: 45pxS;
    }
 }

 @media(max-width:750px){
    .content{
        width: 100%;
    }
 }
 .form-wrap p{
    color: white;
 }
 .form-wrap p a{
  color: white;
 }

 .form-wrap p a:hover{
  text-decoration: underline;
 }

.slogan{
  align-items: center;
  display: block;
  margin-top: 220px;
  margin-left: 200px;
}
.slogan h4{
  font-size:xx-large;
}

.slogan h5{
  font-size: medium;
}
.explore{
  position: static;
  width: 400px;
  height: 40px;
  background: #a4b15c;
  font-weight: bold;
  border-radius: 20px;
  margin-left: 200px;
}

.image{
  margin-top: -200px;
  margin-left: 600px;
}
.signup-box {
  width: 360px;
  height: 420px;
  margin: auto;
  background-color: white;
  border-radius: 3px;
  margin-top: 150px;

}
.login-box {
  width: 360px;
  height: 320px;
  margin: auto;
  border-radius: 3px;
  background-color: white;
  margin-top: 150px;
}
h1 {
  text-align: center;
  padding-top: 15px;
}
form {
  width: 300px;
  margin-left: 20px;
}
form label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}
form input {
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}
input[type="button"] {
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #49c1a2;
  color: white;
  font-size: 18px;
}
p {
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
  margin-top: -70px;
}
.para-2 {
  text-align: center;
  color: black;
  font-size: 15px;
  margin-top: -0
  px;
}
.para-2 a {
  color: #49c1a2;
}
.para-2 a:hover{
  text-decoration: underline;
}
